.t_head_bg {
	background-image: url(../images/pom/ind2_19.gif) !important;
}

.root_node {
	background-image: url(../images/pom/icons/root_main.gif) !important;
}
.user_true {
    background-image:url(../images/pom/shared/user_true.gif) !important;
}
.upload {
    background-image:url(../images/upload-start.gif) !important;
}
.maximize {
    background-image:url(../images/pom/shared/maximize.gif) !important;
}
.user_false {
    background-image:url(../images/pom/shared/user_false.gif) !important;
}
.save {
	background-image: url(../images/pom/images/save.gif) !important;
}
.smart_system_ui_logout {
	background-image: url(../images/pom/icons/delete.gif) !important;
}

.smart_system_ui_help {
	background-image: url(../images/pom/icons/image92-help.png) !important;
}

.delete {
	background-image: url(../images/pom/shared/drop-no.gif) !important;
}

.smart_system_resources_bbs {
	background-image: url(../images/pom/icons/index_logo_bbs.gif) !important;
}

.smart_system_wf {
	background-image: url(../images/folder_wrench.png) !important;
}

.smart_system_workflow {
	background-image: url(../images/pom/icons/integrate.gif) !important;
}

.grid {
	background-image: url(../images/grid.png) !important;
}

.select {
	background-image: url(../images/select.gif) !important;
}

.smart_system_ui_add_store {
    background-image:url(../images/addStore.gif) !important;
}
.pms_project_compare {
    background-image:url(../images/compare_view.gif) !important;
}
.smart_system_ui_sub_store {
    background-image:url(../images/subStore.gif) !important;
}


.smart_system_ui_loop {
    background-image:url(../images/loop.gif) !important;
}

.smart_system_ui_merge {
    background-image:url(../images/ChangeDescription.gif) !important;
}

.smart_system_ui_swap {
    background-image:url(../images/auth_mechanism_obj.gif) !important;
}

.smart_system_ui_authority {
    background-image:url(../images/authority_constraint.gif) !important;
}

.smart_system_ui_detail {
    background-image:url(../images/pom/shared/detail.gif) !important;
}

.smart_system_ui_verify_ok {
    background-image:url(../images/verifyOk.gif) !important;
}

.smart_system_ui_verify_error {
    background-image:url(../images/verifyError.gif) !important;
}

.smart_system_back {
    background-image:url(../images/pom/shared/back.gif) !important;
}

.smart_system_ui_export {
    background-image:url(../images/exportshellhistory.gif) !important;
}

.smart_system_ui_drop {
    background-image:url(../images/drop.gif) !important;
}
.project_exc{
	color: red;
}
.compare{
	background-image: url(../images/compare_view.gif) !important;
}

.search {
	background-image: url(../images/pom/shared/search.png) !important;
}

.export {
	background-image: url(../images/pom/images/export.png) !important;
}

.icon-role {
	background-image: url(../images/pom/icons/udt.gif) !important;
}

.icon-user {
	background-image: url(../images/pom/icons/user_obj.gif) !important;
}

.icon-permission {
	background-image: url(../images/pom/icons/security_role.gif) !important;
}

.smart_system_security_org,.smart_pwms_basedata_part_ct {
	background-image: url(../images/pom/icons/pkg.gif) !important;
}
.smart_system_security_wind {
	background-image: url(../images/pom/icons/icon_builder.gif) !important;
}
.smart_system_security_agreement {
	background-image: url(../images/verifyOk.gif) !important;
}
.smart_system_security_xuanzhi {
	background-image: url(../images/pom/icons/index_logo_bbs.gif) !important;
}
.smart_system_ui_config {
	background-image: url(../images/pom/icons/conf.gif) !important;
}

.enumerate {
	background-image: url(../images/pom/shared/list_group.gif) !important;
}
.task_menu_move_up{
		background-image:url(../images/pom/images/move-up.gif) !important; 
}
.task_menu_move_down{
		background-image:url(../images/pom/images/move-down.gif) !important; 
}
.x-layout-collapsed-west {
	background-image: url(../images/pom/icons/pms_system.png);
	background-repeat: no-repeat;
	background-position: center;
}

.add {
	background-image: url(../images/pom/shared/add.gif) !important;
}

.modify {
	background-image: url(../images/pom/images/edit.gif) !important;
}

.plugin {
	background-image: url(../images/pom/shared/plugin.gif) !important;
}

.remove {
	background-image: url(../images/pom/shared/delete.gif) !important;
}

.info {
	background-image: url(../images/pom/images/attribute.png) !important;
}

.smart_system_ui_back {
	background-image: url(../images/pom/shared/back.gif) !important;
}

.x-grid3-td-topic b {
	font-family: tahoma, verdana;
	display: block;
	color: #333;
}

.x-grid3-td-topic b i {
	font-weight: normal;
	font-style: normal;
	color: #000;
}

.x-grid3-td-topic .topic {
	padding-left: 20px;
	background: transparent url(images/message.png) no-repeat 0 2px;
}

.x-grid3-td-topic .x-grid3-cell-inner {
	white-space: normal;
}

.x-grid3-td-topic a {
	color: #385F95;
	text-decoration: none;
}

.x-grid3-td-topic a:hover {
	text-decoration: underline;
}

.x-grid3-row-body p {
	margin: 5px 20px 10px 25px !important;
	color: #555;
}

.x-tab-strip SPAN.x-tab-strip-text {
	font-size: 12px;
}

.x-panel-header {
	font-size: 12px;
}

.x-tree-node {
	font-size: 12px;
}

.x-grid3-hd-row TD {
	font-size: 12px;
}

.x-grid3-row TD {
	font-size: 12px;
	LINE-HEIGHT: 16px;
}

.x-tip .x-tip-bd {
	font-size: 12px;
}

.x-tip h3 {
	font-size: 12px;
}

.x-tip .x-tip-bd-inner {
	font-size: 12px;
}

.x-panel-tl .x-panel-header {
	FONT: normal 12px tahoma, arial, verdana, sans-serif;
}

.x-form-field {
	FONT: 12px tahoma, arial, helvetica, sans-serif
}

.x-small-editor .x-form-field {
	FONT: 12px tahoma, arial, helvetica, sans-serif
}

.x-combo-list-item {
	FONT: 12px tahoma, arial, helvetica, sans-serif;
}

.x-menu-list-item {
	FONT: 12px tahoma, arial, sans-serif;
}

.x-window-tl .x-window-header {
	FONT: bold 12px tahoma, arial, verdana, sans-serif;
}

.x-layout-split-west .x-layout-mini {
	BACKGROUND-IMAGE: url(../images/mini-left.jpg);
}

.ext-ie .x-form-text {
	margin-top: 1px;
}  /* the textField missing bottom line */
.x-form-item {
	FONT: 12px tahoma, arial, helvetica, sans-serif
}

.x-grid-group-hd DIV {
	FONT: bold 12px tahoma, arial, helvetica, sans-serif;
}

.resetPassword {
	background-image: url(../images/pom/icons/password.gif) !important;
}

.x-btn-text-icon .x-btn-center .x-btn-text {ext-all .css (line 227)
	background-position:0pt2px;
	background-repeat: no-repeat;
	padding: 3px 0pt 2px 18px;
}

.ext-gecko .x-btn button {ext-all .css (line 222) padding-left:0pt;
	padding-right: 0pt;
}

.x-btn button {
	font-size: 12px;
}

.x-toolbar DIV {
	font-size: 12px;
}

.x-toolbar span {
	font-size: 12px;
}

.x-tip .x-tip-body {
	font-size: 12px;
}

.x-tip .x-tip-body div {
	font-size: 12px;
}

.x-tip .x-tip-body span {
	font-size: 12px;
}

.help_content {
	font-size: 14px;
	cursor: pointer;
}

.help_content .href {
	color: #336699;
	font-weight: bold;
}

.help_content:hover .href {
	color: #6699cc;
	font-weight: bold;
}

.help_content .help_toggle_image_open {
	height: 50px;
	width: 50px;
	margin: 0px 20px 0px 20px;
}

.help_content .folder_help_toggle_image_open {
	background-image: url(../images/pom/images/tu_swtapp48.gif);
}

.help_content:hover .folder_help_toggle_image_open {
	background-image: url(../images/pom/images/tu_swtapp48_hov.gif);
}

.help_content .recycle_help_toggle_image_open {
	background-image: url(../images/pom/images/ov_folder.gif);
}

.help_content:hover .recycle_help_toggle_image_open {
	background-image: url(../images/pom/images/ov_folder_hov.gif);
}

.help_content .content_help_toggle_image_open {
	background-image: url(../images/pom/images/tu_rcpapp48.gif);
}

.help_content:hover .content_help_toggle_image_open {
	background-image: url(../images/pom/images/tu_rcpapp48_hov.gif);
}

.help_content .task_help_toggle_image_open {
	background-image: url(../images/pom/images/ov_javadev48.gif);
}

.help_content:hover .task_help_toggle_image_open {
	background-image: url(../images/pom/images/ov_javadev48_hov.gif);
}

.system_datasources {
	background-image: url(../images/pom/images/datasources.gif) !important;
}

.system_datasources_schema {
	background-image: url(../images/pom/images/data_source.gif) !important;
}

.system_datasources_elements {
	background-image: url(../images/pom/images/elements.gif) !important;
}

.system_datasources_datasource {
	background-image: url(../images/pom/images/data_source.gif) !important;
}

.system_datasources_table {
	background-image: url(../images/pom/images/table.gif) !important;
}

.system_datasources_view {
	background-image: url(../images/pom/images/crosstab.gif) !important;
}

.system_datasources_key {
	background-image: url(../images/pom/images/key.gif) !important;
}

.system_datasources_fkey {
	background-image: url(../images/pom/images/fkey.gif) !important;
}

.system_datasources_columns {
	background-image: url(../images/pom/images/column-area.gif) !important;
}

.system_datasources_column {
	background-image: url(../images/pom/images/columns.gif) !important;
}

.system_datasources_refresh {
	background-image: url(../images/pom/images/refresh.png) !important;
}

.system_datasources_search {
	background-image: url(../images/pom/shared/search-16x16.gif) !important;
}

.system_datasources_generate {
	background-image: url(../images/pom/shared/tag_button.gif) !important;
}

.system_datasources_run {
	background-image: url(../images/pom/images/run.gif) !important;
}

.system_datasources_runfile {
	background-image: url(../images/pom/images/run_file.png) !important;
}

.system_datasources_openfile {
	background-image: url(../images/pom/images/openfile.gif) !important;
}

.system_datasources_save {
	background-image: url(../images/pom/images/save.gif) !important;
}

.system_device_organ_tree_node {
	background-image: url(../images/innerclass_default_obj.gif) !important;
}

.system_device_type_tree_node {
	background-image: url(../images/jpa_structure.gif) !important;
}

.system_file_manager_menu {
	background-image: url(../images/pom/images/task-node.gif) !important;
}

.system_file_manager_copy {
	background-image: url(../images/pom/images/copy.png) !important;
}

.system_file_manager_move {
	background-image: url(../images/pom/images/move.gif) !important;
}

.system_file_manager_rename {
	background-image: url(../images/pom/images/rename.gif) !important;
}

.system_file_manager_zip {
	background-image: url(../images/pom/images/zip.png) !important;
}

.system_file_manager_up {
	background-image: url(../images/pom/images/arrow_up.png) !important;
}

.system_file_manager_download {
	background-image: url(../images/pom/images/download.gif) !important;
}

.smart_pwms_ui_home{
	background-image: url(../images/pom/images/home.gif) !important;
}

.smart_pwms_storck{
	background-image: url(../images/pom/images/storck.gif) !important;
}

.smart_pwms_repertory{
	background-image: url(../images/pom/images/repertory_root.gif) !important;
}
.smart_pwms_repertory_save{
	background-image: url(../images/pom/images/repertory_save.gif) !important;
}
.smart_pwms_repertory_remove{
	background-image: url(../images/pom/images/repertory_remove.gif) !important;
}

.smart_pwms_ration {
	background-image: url(../images/pom/images/ration.png) !important;
}

.smart_pwms_report {
	background-image: url(../images/pom/images/column-area.gif) !important;
}

.smart_pwms_basedata {
	background-image: url(../images/pom/images/icon_base.gif) !important;
}

.smart_pwms_system {
	background-image: url(../images/pom/images/system.gif) !important;
}
.smart_pwms_ui_default{
	background-image: url(../images/pom/images/choice_obj.gif) !important;
}
.smart_pwms_ui_milestong{
	background-image: url(../images/pom/images/milestong.gif) !important;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{*border-collapse:collapse;border-spacing:0;}caption,th{text-align:left;}img,a img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}em,strong{font-weight:bold;}li{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;color:#000;}q:before,q:after,blockquote:before,blockquote:after{content:"";}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;*font-size:100%;font-weight:inherit;}del,ins{text-decoration:none;}legend{*margin-left:-7px;}html{overflow-y:scroll;overflow:-moz-scrollbars-vertical;}body{font:12px Tahoma,Helvetica,Arial,Simsun,sans-serif;color:#4d4d4d;background:#fff;}a{color:#07f;cursor:pointer;text-decoration:none;outline:none;}a:hover{color:#07f;text-decoration:underline;}
.smart_pwms_ui_export_excel {
    background-image:url(../images/pom/shared/excel.gif) !important;
}
.smart_pwms_ui_export_word {
    background-image:url(../images/pom/shared/msword.gif) !important;
}
.smart_pwms_ui_export_pdf {
    background-image:url(../images/pom/shared/pdf.png) !important;
}
.smart_pwms_ui_print {
    background-image:url(../images/pom/shared/print_topic.gif) !important;
}
.smart_irms_ui_meeting {
    background-image:url(../images/pom/icons/index_logo_pr.gif) !important;
}

.ext-ie .x-tree .x-panel-body {position: relative;}
.ext-ie .x-tree .x-tree-root-ct {position: absolute;}

.smart_pwms_ui_grid_editor {
    border:1px solid #AFC5D2;
}


.smart_pms_ui_tree_node_default {
   background-image: url(../images/pom/icons/index_logo_tm.gif) !important;
}

.smart_ui_pms_project_tree_org {
      background-image: url(../images/pom/icons/index_logo_tm.gif) !important;
}
.smart_ui_pms_project_main_task_tree {
    background-image:url(../images/pom/shared/task-tree.gif) !important;
}

.smart_ui_pms_project_main_task_list {
    background-image:url(../images/pom/shared/task-list.gif) !important;
}
.smart_ui_pms_project_tree_project {
      background-image:url(../images/pom/shared/project_plan.gif) !important;
}

.smart_ui_pms_project_open {
      background-image:url(../images/pom/shared/arrow.gif) !important;
}
.smart_ui_pms_project_close {
      background-image:url(../images/pom/shared/member-collapsed.gif) !important;
}
.smart_ui_pms_project_locked {
      background-image:url(../images/pom/shared/primaryKey.gif) !important;
}
.smart_ui_pms_project_task_completed {
      background-image:url(../images/pom/images/milestone_completed.gif) !important;
}
.smart_ui_pms_project_task_jump {
      background-image:url(../images/pom/images/task_delay.gif) !important;
}

.menu-title{
    background: #ebeadb url(../images/default/grid/grid3-hrow.gif) repeat-x;
    border-bottom:1px solid #99bbe8;
    color:#15428b;
    display:block;
    padding:3px;
}
.image-title{
    background: #ebeadb url(../images/default/grid/grid3-hrow.gif) repeat-x;
    border-bottom:1px solid #99bbe8;
    border-right:1px solid #99bbe8;
    color:#15428b;
    display:block;
    padding:3px;
}
.smart_ui_pms_myproject_expand{
      background-image:url(../images/pom/shared/expand-all.gif) !important;
}
.smart_ui_pms_myproject_collapse{
      background-image:url(../images/pom/shared/collapse-all.gif) !important;
}
.smart_ui_pms_project_task_jump {
      background-image:url(../images/pom/images/task_delay.gif) !important;
}
.smart_ui_pms_myproject_task {
      background-image:url(../images/pom/images/task.gif) !important;
}
.smart_ui_pms_myproject_dispatch {
      background-image:url(../images/pom/images/task_dispatch.gif) !important;
}
.smart_ui_pms_model {
      background-image:url(../images/pom/icons/list-items.gif) !important;
}

.detailtitle{
	height: 26px;
	FONT-SIZE: 9pt; 
	vertical-align: middle;
	font-weight: 700;
	font-family:����;
	background-color: #EEEEEE;
	padding-left: 4px;
	padding-right: 4px;
	
}
.detailcontent{
	FONT-SIZE: 9pt; 
	font-family:����;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
}

.x-flow-round{
	float:left;
	white-space:nowrap;width:100%;
}
.x-flow-round div{
	font-size:12px;
}
.x-flow-round-item{
	float:left;
}
.x-flow-round-assistant{
	float:left;
	white-space:nowrap;width:100%;
}
.x-flow-round-assistant div{
	font-size:12px;
}

.round-block-assistant-true{
	height:19px; float:left; background-image:url(../images/pom/flow/bg_new_g.gif); color:#FFFFFF;cursor:pointer;
}

.round-block-assistant-false{
	height:19px; float:left; background-image:url(../images/pom/flow/bg_new_w.gif);cursor:pointer;
}
.round-block-assistant-0{
	height:19px; float:left; background-image:url(../images/pom/flow/bg_new_0.gif); cursor:pointer;
}
.round-block-assistant-1{
	height:19px; float:left; background-image:url(../images/pom/flow/bg_new_6.gif); color:#FFFFFF;cursor:pointer;
}
.round-block-assistant-2{
	height:19px; float:left; background-image:url(../images/pom/flow/bg_new_2.gif); color:#FFFFFF;cursor:pointer;
}
.round-block-assistant-3{
	height:19px; float:left; background-image:url(../images/pom/flow/bg_new_3.gif); color:#FFFFFF;cursor:pointer;
}
.round-block-assistant-4{
	height:19px; float:left; background-image:url(../images/pom/flow/bg_new_5.gif); color:#000000;cursor:pointer;
}
.round-block-assistant-5{
	height:19px; float:left; background-image:url(../images/pom/flow/bg_new_1.gif);color:#ffffff;text-decoration:line-through;cursor:pointer;
}
.round-block-assistant-6{
	height:19px; float:left; background-image:url(../images/pom/flow/bg_new_4.gif); color:#FFFFFF;cursor:pointer;
}
.round-block-assistant-text{
	margin:2px;
	font-size:12px;
}

.round-block-true{
	height:34px; float:left; background-image:url(../images/pom/flow/bg_block.gif); color:#FFFFFF;cursor:pointer;
}

.round-block-false{
	height:34px; float:left; background-image:url(../images/pom/flow/bg_block_w.gif);cursor:pointer;
}
.round-block-0{
	height:34px; float:left; background-image:url(../images/pom/flow/bg_block-0.gif); cursor:pointer;
}
.round-block-1{
	height:34px; float:left; background-image:url(../images/pom/flow/bg_block-2.gif);color:#FFFFFF; cursor:pointer;
}
.round-block-2{
	height:34px; float:left; background-image:url(../images/pom/flow/bg_block-5.gif);color:#000000; cursor:pointer;
}
.round-block-3{
	height:34px; float:left; background-image:url(../images/pom/flow/bg_block-3.gif);color:#FFFFFF; cursor:pointer;
}
.round-block-4{
	height:34px; float:left; background-image:url(../images/pom/flow/bg_block-6.gif);color:#FFFFFF; cursor:pointer;
}
.round-block-6{
	height:34px; float:left; background-image:url(../images/pom/flow/bg_block-4.gif);color:#FFFFFF; cursor:pointer;
}
.round-block-5{
	height:34px; float:left; background-image:url(../images/pom/flow/bg_block-1.gif);color:#ffffff;text-decoration:line-through;cursor:pointer;
}
.round-block-left{
	width:3px; float:left;background-repeat:no-repeat
}
.round-block-right{
	width:4px; float:left;background-repeat:no-repeat; background-position: 0% 100%
}
.round-block-mid{
	background-repeat:repeat-x; background-position: 0% 50%;float:left;
}
.round-block-text{
	margin:10px;float:left;
}
.round-block-text-2{
	margin:3px;float:left;
}
.showChild{
	width:30;height:16px;background:#FFF url(../images/file-add.gif) no-repeat center;cursor:hand;
}
.closeChild{
	width:30;height:16px;background:#FFF url(../images/file-remove.gif) no-repeat center;cursor:hand;
}
.line-gray{
	height:30px; width:50px; float:left; background:url(../images/pom/flow/bg_line_gray.gif) repeat-x 0% 50%;text-align:center;
}
.line-green{
	height:30px; width:50px; float:left; background:url(../images/pom/flow/bg_line_green.gif) repeat-x 0% 50%; text-align:center;
}
.line-arrow-green{
	height:30px; width:50px; float:left;
	background-image:url(../images/pom/flow/bg_line_arrow_green.png);
	background-position:center right;
	background-repeat: repeat-x;
}
.line-red{
	height:30px; width:50px; float:left; background:url(../images/pom/flow/bg_line_red.gif) repeat-x 0% 50%; text-align:center;
}
.line-arrow-red{
	height:30px; width:100%; float:left;
	background-image:url(../images/pom/flow/bg_line_arrow_red.png);
	background-position:center right;
	background-repeat: repeat-x;
}
.x-flow-round-item_jia{
	background:url(../images/file-add.gif) no-repeat center;
	height:18px;width:18px;
	cursor:pointer;
	
}
.x-flow-round-item_jian{
	background:url(../images/file-remove.gif) no-repeat center;
	height:18px;width:18px;
	cursor:pointer;
	
}
.tesd{
	height:100%; width:30px;
	background-image:url(../images/pms/plan_gray_20.jpg);
	background-position:center;
	background-repeat: no-repeat;
}
.weikaishi{
	height:100%; width:30px;
}
.zhixingzhong{
	height:100%; width:30px;
	background-image:url(../images/pms/plan_blue_20.jpg);
	background-position:center;
	background-repeat: no-repeat;
}
.wancheng{
	height:100%; width:30px;
	background-image:url(../images/pms/plan_green_20.jpg);
	background-position:center;
	background-repeat: no-repeat;
}
.buxuyao{
	height:100%; width:30px;
	background-image:url(../images/pms/plan_gray_no_20.jpg);
	background-position:center;
	background-repeat: no-repeat;
}
.kunnan{
	height:100%; width:30px;
	background-image:url(../images/pms/plan_red_20.jpg);
	background-position:center;
	background-repeat: no-repeat;
}

.smart-report{
	overflow:hidden;
	text-align:left;
	white-space:nowrap;
}
.smart-report-title{
	text-align:center;
	vertical-align:middle;
	font-family:Dialog;
	font-size:26px;
	color:#000000;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
}
.smart-report-table{
	font-size:12px;
	text-align:center;
	border-collapse:collapse;
	white-space:nowrap;
}
.smart-report-table TH ,.smart-report-table TD{   
    border:1px solid #8AAEDB; 
	word-break:break-all;
	text-align:center;
}
.smart-report .header{
	font-weight:bold;
	background-color:#C5D7ED;
}
.smart-report .left-menu{
	background-color:#C5D7ED;
}
.smart-report .corner{
	border-left-style:solid;
	border-left-width:2px;
	border-left-color:#8AAEDB;
	border-top-style:solid;
	border-top-width:2px;
	border-top-color:#8AAEDB;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#8AAEDB;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#8AAEDB;
}
.smart-report .leftsp{
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:#8AAEDB;
}
.smart-report .top{
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:#8AAEDB;
	border-top-style:solid;
	border-top-width:2px;
	border-top-color:#8AAEDB;
	border-right-style:solid;
	border-right-width:2px;
	border-right-color:#8AAEDB;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#8AAEDB;
}
.smart-report .left{
	border-left-style:solid;
	border-left-width:2px;
	border-left-color:#8AAEDB;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#8AAEDB;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#8AAEDB;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#8AAEDB;
}
.smart-report .content{
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:#8AAEDB;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#8AAEDB;
	border-right-style:solid;
	border-right-width:2px;
	border-right-color:#8AAEDB;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#8AAEDB;
}
.no-frame{
	border-style:none;
	border-width:0px;
}

#IRInfo { font-size:12px; background-color:#EEEEEE;}
td.inp { font-size:12px; background-color:#FFFFFF;}
td.title {text-align:center; color:#FFFFFF; font-size:14px; background-color:#6699CC; padding:3px}
.pane{
	border:1px #D2D2D2 solid;border-top:none;margin:5px 0 0;overflow:hidden;clear:both;
}
.pane-title,.pane-title li,.pane-title li span{
	background:url(../images/bg-tab.png) 0 0 no-repeat;
}
.pane-title{
	height:31px;overflow:hidden;line-height:31px;padding-left:13px;margin:0;background-position:0 -140px;background-repeat:repeat-x;
}
.pane-title h3{line-height:31px;}

.pane-s .pane-title h3{line-height:28px;font-size:12px;}

.pane-s .pane-title{height:26px;line-height:27px;overflow:hidden;border-bottom:1px #D2D2D2 solid;}

.pane-s .title {
	margin-top: 0;
}
.pane-s .pane-title {
	height:24px;
	line-height:26px;
}
.pane-s .pane-content {
	padding: 10px; 
}
.pane .pane-content {
	overflow: hidden;
	zoom: 1; 
	min-height: 0;
}
.tb-itrade table{width:100%}
.tb-itrade td{padding:8px 4px 7px;border-width:1px 0 0;border-bottom:1px solid #D2D2D2;}
.tb-itrade .time{width:73px;text-align:right; border:1px solid #D2D2D2;border-width:0 1px 1px 0;}
.tb-itrade .middleClass{border:1px solid #D2D2D2;border-width:0 1px 1px 0;}
.tb-itrade .action{text-align:right;background:#FFFFEF;}
.tb-itrade tfoot td{line-height:27px;padding:0 5px;text-align:right;background:#FAFAFA;border-bottom:none;}
.tb-itrade tfoot .link{text-align:center;}

.width710{
	width:710px;	
}

body .pane-s .lifeHelper{
	padding:0;
}
.lifeHelper a{
	width:60px;
	height:25px;
	padding:11px 1px 1px 11px;
	display:block;
	float:left;
	border-right:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
}
.lifeHelper IMG{
	float:left;
}
.lifeHelper a.noRightBorder{
	border-right:none;
}
.lifeHelper a.noBottomBorder{
	border-bottom:none;
}
.lifeHelper a:hover{
	text-decoration:none;
	background:url(../images/main/lifeHelperHover.jpg) no-repeat 0px 0px;
}
.li-pink-arrow li{
	font-family:Simsun;line-height:15px;padding-left:13px;margin-bottom:2px;
	background:url(../images/bg-list-style-image.png) no-repeat;
}
.loading-indicator {
    font-size:11px;
    background-image:url('../images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position:top left;
    padding-left:20px;
	height:18px;
	text-align:left;
}
#loading-mask{
	position:absolute;
	left:0;
	top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}
#loading{
	position:absolute;
	left:45%;
	top:40%;
	padding:2px;
	z-index:20001;
    height:auto;
}
#loading img {
    margin-bottom:5px;
}
#loading .loading-indicator{
	background:white;
	color:#555;
	font:bold 13px tahoma,arial,helvetica;
	padding:10px;
	margin:0;
    text-align:center;
    height:auto;
}
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}
.smart_system_ui_gailan {
	background-image: url(../images/pom/shared/gantt.gif) !important;
}
.smart_system_ui_ribao {
	background-image: url(../images/pom/shared/daily_work.gif) !important;
}
#template{
	FONT-SIZE: 9pt; 
	border-collapse:collapse; 
	border:solid #000000; 
	border-width:0px 0px 1px 0px;
}
#template .headerText{text-align:center;vertical-align:text-bottom;} 
#template .headerBG{background:url(../images/pom/images/bg-tb.png) no-repeat center center;} 

#template td {border:solid #000000;border-width:1px 1px 0 1px;padding:2px;}
#template .value {height:18px;border:solid #000000;border-width:1px 1px 0 0;padding:2px;}
#template .noValue{
	border:solid #000000;border-width:0px 0px 0px 0;"
} 
#template .valueUp{
	border:solid #000000;border-width:1px 1px 0px 0;"
}
#template .valueMid{
	border:solid #000000;border-width:0px 1px 0px 0;"
}
#project_schedule{
	width:100%;
	height:6px;
	padding:0px;
	border:solid #9B9B9B;border-width:1px 1px 1px 1px;
}
#project_schedule TD{
	border-width:0px 0px 0px 0px;
}